.header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../images/header-bg-mobile.png);

    display: flex;
    flex-direction: column;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__bottom {
    text-align: center;
    margin-top: 80px;

    @include contentPaddingInline;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.04em;
  }
}
