.header {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-image: url(../images/header-bg-mobile.png);
  background-position: center;
  background-size: cover;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__bottom {
    margin-top: 80px;
    text-align: center;

    @include content-padding-inline;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.04em;
  }
}
