.menu {
  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;
  text-transform: uppercase;

  background-color: #d12d35;

  &__top {
    margin-bottom: 20px;
  }

  &__content {
    @include content-padding-inline;
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;

  & h2 {
    font-size: 16px;
  }

  &__number {
    display: flex;
    flex-direction: column;
  }
}

.phone__number {
  color: $main-text-color;
  text-decoration: none;
}

.number__title {
  margin-bottom: 0;
}

.call-to-order {
  display: block;

  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 1px solid $main-text-color;

  font-size: 16px;
  color: $main-text-color;
  text-decoration: none;
}
