.nav{
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: $main-text-color;
  }

  &__link{
    text-decoration: none;
    color: $main-text-color;
    font-size: 22px;
  }
}
